span.type-quote {
  color: red;
}

span.type-place {
  color: red;
}

span.type-agent {
  color: red;
}

span.type-number {
  color: red;
}

span.type-duration {
  color: red;
}

// ['type'] = ['Agent']
// ['type'] = ['Work']
// ['type'] = ['Place']
// ['type'] = ['Company']
// ['type'] = ['Number']
// ['type'] = ['Duration']
