$orange: #A84008;
$red: #B20071;
$purple: #26079B;
$blue: #26079B;
$green: #00A825;


span.type-place {
  color: $green;
}

span.type-agent {
  color: $red;
}

span.type-person {
  // quick hack
  color: $red;
}

span.type-number {
  color: $orange
}

span.type-duration {
  color: $orange;
}

span.type-quote {
  color: $purple;
}

// ['type'] = ['Agent']
// ['type'] = ['Work']
// ['type'] = ['Place']
// ['type'] = ['Company']
// ['type'] = ['Number']
// ['type'] = ['Duration']
