@import "colours.scss";

span.type-place {
  color: $place;
}

span.type-agent {
  color: $agent;
}

span.type-company {
  // combine the categories
  color: $agent;
}

span.type-product {
  // combine the categories
  color: $agent;
}

span.type-person {
  color: $person;
}

span.type-number {
  color: $number;
}

span.type-duration {
  // combine the categories
  color: $number;
}

span.type-quote {
  color: $quote;
}

// ['type'] = ['Agent']
// ['type'] = ['Work']
// ['type'] = ['Place']
// ['type'] = ['Company']
// ['type'] = ['Number']
// ['type'] = ['Duration']
